<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.interfaces.IFacultyDAO">
    <resultMap id="faculty" type="com.solvd.model.Faculty">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="location" column="location"/>
        <result property="university_id" column="university_id"/>
        <result property="acreditation" column="acreditation"/>
    </resultMap>
    <select id="getAllFaculties" resultMap="faculty">
        SELECT * FROM `faculty`
    </select>
</mapper>