<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.interfaces.IGroupDAO">
    <resultMap id="group" type="com.solvd.model.Group">
        <id property="id" column="id"/>
        <result property="groupNumber" column="groupNumber"/>
        <result property="curator" column="curator"/>
        <result property="chair_id" column="chair_id"/>
    </resultMap>
    <select id="getAllGroups" resultMap="group">
        SELECT * FROM `group`
    </select>
    <delete id="deleteGroup">
        DELETE FROM `group` WHERE id = #{id}
    </delete>
    <insert id="insertIntoGroup">
        INSERT INTO `group` (id, groupNumber, curator, chair_id) VALUES (#{id}, #{groupNumber}, #{curator}, #{chair_id})
    </insert>
    <update id="updateGroup">
        UPDATE `group` SET
        id = #{id},
        groupNumber = #{groupNumber},
        curator = #{curator},
        chair_id = #{chair_id}
        WHERE id = #{id}
    </update>
</mapper>