<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.interfaces.IWeaponDAO">
    <resultMap id="weapon" type="com.solvd.model.WeaponModel">
        <id property="idWeapon" column="idWeapon"/>
        <result property="name" column="name"/>
        <result property="classs" column="classs"/>
    </resultMap>
    <select id="getAllweapons" resultMap="weapon">
        SELECT * FROM bloshkoarmy.weapon
    </select>
    <insert id="addWeapon">
        INSERT INTO bloshkoarmy.weapon (idWeapon,name,classs)
        VALUES (#{idWeapon},#{name},#{classs})
    </insert>
    <update id="updateWeapon">
        UPDATE bloshkoarmy.weapon SET name=#{name}
        WHERE idWeapon=#{idWeapon}
    </update>
</mapper>
